extends ../../layouts/common

block content

  h1 Transactions

  h4
    a(href="/", class='btn btn-primary') Back Home

  h4
    a(href="/transactions/create", class='btn btn-primary') Create New A Transaction

  .container 
    .row.justify-content-around
      each transaction in transactions
        .card(class='col-md-4 mt-3')
          img.card-img-top(src='https://loremflickr.com/320/240/dog', alt='Card image cap')
          .card-body
            h5.card-title= transaction.userName
            h4.card-text= transaction.bookTitle
            if !transaction.isComplete
              a(href="/transactions/" + transaction.id + '/complete', class='btn btn-info mr-3') Not complete
            else 
              a Completed
            a(href="/transactions/" + transaction.id + '/edit', class='btn btn-success mr-3') Edit
            a(href="/transactions/" + transaction.id + "/delete", class='btn btn-warning') Delete
